.members-container {
  text-align: center;
  height: 100vh;
  background: url('../../assets/bg-images/fil-flow-3.jpg');
  background-size: cover;
}

table {
  border-collapse: collapse;
  margin: auto;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
  background: #00000090;
}

th {
  background: #ff5722;
  color: white;
}

tr:hover {
  background: #9d9d9d23;
}

.add-member {
  padding: 10px 15px;
  background: #ff5722;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.user-card {
  min-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding-top: 0;
}

.user-details-table {
  width: 100%;
  font-size: 20px;
}

.user-details-table td {
  padding: 5px;
  border: none;
}

.user-details-table tr > td:first-child {
  font-weight: bold;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}
