.home-container {
  text-align: center;
  height: 100vh;
}

.kpi-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.kpi-card {
  padding: 20px;
  border-radius: 8px;
  border: 2px solid #b6b6b657;
  box-shadow: 0 0px 8px rgba(128, 128, 128, 0.2);
  width: 200px;
  text-align: center;
}

.kpi-card h3 {
  margin-bottom: 10px;
}

.kpi-card p {
  font-size: 24px;
  font-weight: bold;
  color: #ff5722;
}
