.home-container {
  text-align: center;
  height: 100vh;
}

.kpi-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.kpi-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  text-align: center;
}

.kpi-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.kpi-card p {
  font-size: 24px;
  font-weight: bold;
  color: #ff5722;
}
