.users-container {
  text-align: center;
  height: 100vh;
}

table {
  border-collapse: collapse;
  margin: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background: #ff5722;
  color: white;
}

tr:hover {
  background: #9d9d9d23;
}
