.add-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding-inline: 20px;
  gap: 5px;
}

form button {
  padding: 10px 15px;
  cursor: pointer;
}
