.subscription-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding-inline: 20px;
  gap: 5px;
}

.input-group {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.price-discount {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.price-discount div {
  width: 100%;
}

.price-discount label {
  display: block;
  width: 100%;
  text-align: left;
}

form button {
  padding: 10px 15px;
  cursor: pointer;
  margin-block: 20px;
}
