.add-user-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  padding-inline: 20px;
  gap: 5px;
}

form button {
  padding: 10px 15px;
  cursor: pointer;
  margin-block: 10px;
}

.no-amount {
  width: 100%;
  font-size: 14px;
}

.amount-details {
  width: 100%;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.amount-details td {
  padding: 5px;
  border: none;
}

.amount-details td:last-child {
  text-align: right;
}

.amount-details td:first-child {
  font-weight: bold;
}
